body {
	
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

.overlay {

}

.parallax { 
    /* The image used */
    background-image: url("background.jpg");
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .60;
}

#headertext {
	position: relative;
	top: -390px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 20px;
	color: black;
	background-color: white;
}

.navbar-brand {
	margin-left: 150px;
	border-bottom: 2px solid black;
}

.nav-link {
	margin-left: 45px; 
}

.navbar-nav {
	padding-right: 150px;
}

.jumbotron {
	background: none;
	color: white;
}

.jumbotron header {
	padding: 85px 150px;
	color: blue;
}

.container {
	
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	padding-bottom: 20px;
}

i {
	padding: 10px;
}